.navbar-custom .avatar-container .avatar-img{
    border-radius: 25%;
}

.post-preview{
    /* border: none; */
    border-bottom: 1px dashed #bbbbbb;
    border-right: 1px dashed #bbbbbb;
    /* border-radius: 0.1rem; */
    position: relative;
    overflow: visible;
}

.post-preview::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #404040;
    bottom: -5px;
    right: -5px;
    border-radius: 50%;
    z-index: 999999;
}

.pagination{
    margin: 3.625rem 0 0;
}